/*@font-face {
	font-family: 'Nerd Font';
	src: url(fonts/Hack-Bold-Nerd-Font-Complete.ttf);
}*/


body{
	/* background-color: #2e333f; */
    background-color: #1a1b26;
	background-repeat: no-repeat;
}

a{
	text-decoration: none;
}

h2{
	color: #acb4c2;
	text-align: center;
}

h3{
	color: #acb4c2;
	text-align: center;
	margin: 2px;
}

.dateTime{
	margin: auto;
    margin-top: 5%;
	font-size: 16px;
	text-align: center;
	padding: 24px;
	color: white;
	background-color: #282a3d;
	/* background-color: #252933; */
	border-radius: 5px;
	box-shadow: -1px -1px black;
	width: 300px;
	font-family: 'Inter', sans-sarif;
	font-weight: 500;
}

.time{
	font-size: 3em;
}

.date{

}

.mainImg {
	margin: 10px;
	width: 200px;
	height: 50px;
	display: block;
}

.mainDiv{
	margin: auto;
	width: 930px;
	/* background-color: #252933; */
	background-color: #282a3d;
	border-radius: 5px;
	overflow: hidden;
	display: grid;
	box-shadow: -1px -1px black;
}

.mainDivPadding{
	padding: 5px;
}

.mainDivPaddingMid{
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.mainDivPaddingBottom{
	padding: 5px;
	padding-top: 0px;
}

.divButton{
	margin: 5px;
	width: fit-content;
	border-radius: 5px;
	background-color: #1a1b26;
	/* background-color: #2e333f; */
	float: left;
	display: block;
	box-shadow: 1px 1px black;
}
.divButtonBottom{
	margin: 5px;
	margin-top: 0px;
	width: fit-content;
	border-radius: 5px;
	background-color: #1a1b26;
	/* background-color: #2e333f; */
	float: left;
	display: block;
	box-shadow: 1px 1px black;
}

.divLinks{
	width: 310px;
	display: block;
	float: left;
	font-family: 'Nerd Font', sans-serif;
	font-weight: 400;
    padding-bottom: 10px;
}



















