:root {
  --clr-bg: #222436;
  --clr-bg-alt: #2f334d;
  --clr-fg: #c8d3f5;
  --clr-border: #545c7e;
  --clr-shadow: #111111;
  --clr-hover: #eb5e28;
}

body {
  background-color: var(--clr-bg);
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

h2 {
	color: var(--clr-fg);
	text-align: center;
}

h3 {
	color: var(--clr-fg);
	text-align: center;
	margin: 2px;
}

label {
  width: 200px;
  padding: none;
}

/* frames */
.frame {
	margin: auto;
	width: 900px;
	margin-top: 50px;
}

.left-frame {
	float: left;
	width: 325px;
}

.right-frame {
	float: right;
	margin: auto;
	width: 575px;
}

/* clock frame */
.dateTime {
	margin: auto;
	width: 300px;
	height: 130px;
	font-size: 16px;
	text-align: center;
	color: var(--clr-fg);
	background-color: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	border-radius: 5px;
	font-family: 'Inter', sans-sarif;
}

.time {
  margin-top: 24px;
	font-size: 3em;
}

/* window frames */
.link-window {
  position: relative;
  margin: auto;
	margin-top: 20px;
	width: 300px;
	font-weight: 400;
  padding-top: 10px;
  border: 1px solid var(--clr-border);
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
  border-radius: 5px;
  background-color: var(--clr-bg-alt);
}

.button-span {
	display: table;
  margin: auto;
	padding: none;
}

.window-img {
	margin: 5px;
	width: 40px;
	display: block;
}

.window-button {
  margin: 10px 5px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--clr-border);
	border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	background-color: var(--clr-bg);
  float: left;
  text-align: right;
  position: relative;
  cursor: pointer;
}

.window-button:hover {
	border: 1px solid var(--clr-hover);
}

.link-title {
  position: absolute;
  padding: 0 5px;
  top: -12px;
  left: 45px;
	text-align: center;
  color: var(--clr-fg);
  background: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
}

.window-link {
  margin: 0px 5px;
	margin-bottom: 5px;
  width: 130px;
  border: 1px solid var(--clr-border);
	border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	background-color: var(--clr-bg);
  float: left;
  text-align: right;
  position: relative;
  cursor: pointer;
}

.window-link:hover {
  border: 1px solid var(--clr-hover);
}

.link-img {
	margin: 10px;
	width: 75px;
	display: block;
}

/* big links */
.main-links {
	margin: auto;
  padding: 8px 0px;
	width: 550px;
	background-color: var(--clr-bg-alt);
	border-radius: 5px;
	overflow: hidden;
	display: grid;
  border: 1px solid var(--clr-border);
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
}

.button-span {
	display: table;
  margin: auto;
	padding: none;
}

.main-button {
  margin: 5px;
  width: 95px;
  height: 95px;
  border: 1px solid var(--clr-border);
	border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	background-color: var(--clr-bg);
  float: left;
  text-align: right;
  position: relative;
  cursor: pointer;
}

.main-button:hover {
  border: 1px solid var(--clr-hover);
}

.main-link-box {
	margin: auto;
	margin-top: 20px;
	width: 500px;
	border: 1px solid var(--clr-border);
	box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	border-radius: 5px;
	background-color: var(--clr-bg-alt);
}

.main-link-window {
  position: relative;
  margin: auto;
	margin-top: 20px;
	width: 500px;
	font-weight: 400;
  padding-top: 20px;
}

.main-link-title {
  position: absolute;
  padding: 0 5px;
  top: -12px;
  left: 145px;
	text-align: center;
  color: var(--clr-fg);
  background: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
}

.main-window-link {
  margin: 0px 5px;
	margin-bottom: 5px;
  width: 230px;
  border: 1px solid var(--clr-border);
	border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	background-color: var(--clr-bg);
  float: left;
  text-align: right;
  position: relative;
  cursor: pointer;
}

.main-window-link:hover {
  border: 1px solid var(--clr-hover);
}
