:root {
  --clr-bg: #222436;
  --clr-bg-alt: #2f334d;
  --clr-fg: #c8d3f5;
  --clr-border: #545c7e;
  --clr-shadow: #111111;
  --clr-hover: #eb5e28;
}

body {
  background-color: var(--clr-bg);
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

h2 {
	color: var(--clr-fg);
	text-align: center;
}

h3 {
	color: var(--clr-fg);
	text-align: center;
	margin: 2px;
}

h3:hover {
  color: var(--clr-hover);
}

label {
  width: 150px;
  padding: none;
}

.infoDiv {
  margin: auto;
  width: 800px;
  display: flex;
}

.dateTime {
	margin: auto;
  margin-top: 5%;
	width: 300px;
	height: 130px;
	font-size: 16px;
	text-align: center;
	color: var(--clr-fg);
	background-color: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	border-radius: 5px;
	font-family: 'Inter', sans-sarif;
}

.time {
  margin-top: 24px;
	font-size: 3em;
}

.weather {
  margin: auto;
  margin-top: 5%;
  width: 300px;
	height: 130px;
	color: var(--clr-fg);
	background-color: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	border-radius: 5px;
  display: flex;
	font-family: 'Inter', sans-sarif;
}

.weatherNow {
  text-align: center;
  padding-top: 5px;
  width: 150px;
  border-right: 1px solid var(--clr-border);
}

.currentTemp {
  margin-top: 10px;
  font-size: 36px;
  display: inline-block;
}

.forecast {
  text-align: center;
  padding-top: 5px;
  width: 150px;
  border-left: 1px solid var(--clr-border);
}

.weatherTitle {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: none;
  width: 130px;
  font-size: 20px;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
  display: inline-block;
}

.forecastText {
  display: inline-block;
}

.mainImg {
	margin: 10px;
	width: 200px;
	display: block;
}

.mainDiv {
	margin: auto;
  padding: 4px 0;
	width: 930px;
	background-color: var(--clr-bg-alt);
	border-radius: 5px;
	overflow: hidden;
	display: grid;
  border: 1px solid var(--clr-border);
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
}

.buttonSpan {
  margin: auto;
	padding: none;
}

.divButton {
  margin: 4px;
  border: 1px solid var(--clr-border);
	border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
	background-color: var(--clr-bg);
  float: left;
}

.divButton:hover {
  border: 1px solid var(--clr-hover);
}

.linkContainer {
	margin: auto;
	width: 930px;
  height: fit-content;
  justify-items: center;
	display: grid;
	font-family: 'Inter', sans-sarif;
}

.linkGroup {
  position: relative;
  margin: 20px 20px;
	width: 260px;
	float: left;
	font-weight: 400;
  padding: 10px 0;
  border: 1px solid var(--clr-border);
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
  border-radius: 5px;
  background-color: var(--clr-bg-alt);
}

.linkTitle {
  position: absolute;
  padding: 0 5px;
  top: -12px;
  left: 10px;
  color: var(--clr-fg);
  background: var(--clr-bg-alt);
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--clr-shadow);
}
