:root {
	--page-bg: #181825;
	--box: #24273a;
	--field: #1e1e2e;
	--border: #b8c0e0;
	--border-soft: #8087a2;
	--border-dark: #252422;
	--border-dash: #ed8796;
	--text: #cad3f5;
	--text-dim: #494d64;
	--text-dark: #1e1e2e;
	--btn: #8aadf4;

	--green: #a6da95;
	--yellow: #eed49f;
}

