:root {
	--page-bg: #1e1e2e;
	--container: #24273a;
	--box: #24273a;
	--border: #252422;
	--border-light: #b8c0e0;
	--border-dash: #ed8796;
	--field: #1e1e2e;
	--text: #cad3f5;
	--text-dim: #494d64;
	--text-dark: #1e1e2e;
	--btn: #8aadf4;

	--green: #a6da95;
	--yellow: #eed49f;
}

