@import url(colors.css);

.d_roller_box {
	background: var(--box);
	width: 420px;
	border-radius: 8px;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
}

.d_dice_row {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.d_dice_label {
	color: var(--text);
	align-items: center;
	padding: 8px;
}

.d_dice_number {
	background: var(--field);
	color: var(--text);
  font-size: 16px;
	width: 50px;
	padding: 8px;
	border: 1px solid var(--field);
	border-radius: 8px;
}

.d_dice_number:focus {
	outline: none;
}

.d_dice_result_box {
	text-align: center;
	background: var(--field);
	border-radius: 8px;
	padding: 5px 0px;
	margin: 0px 5px;
}

.d_result_row {
	margin: auto;
	padding: 10px 0px;
  position: relative;
}

.d_result_label {
  position: absolute;
  text-align: center;
  top: 1px;
  left: 20px;
  padding: 0 2px;
  font-size: 12px;
  color: var(--text);
  background-color: var(--field);
}

.d_result_value {
	width: 370px;
  padding: 5px;
  background-color: var(--field);
  border: 1px solid var(--border-soft);
  border-radius: 5px;
  text-indent: 10px;
  font-size: 16px;
	text-align: center;
  color: var(--text);
  outline: none;
}

.d_dice_button {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	gap: 20px;
}

.d_button {
	background: var(--btn);
	color: var(--text-dark);
	width: 100px;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
