@import url(colors.css);

.m_mob_spawner {
	background: var(--box);
	border-radius: 8px;
	padding: 5px 5px 10px 5px;
}

.m_mob_input {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  justify-content: center;
}

.m_select_container {
	display: flex;
	margin: 5px;
	width: 100px;
	color: var(--text);
	justify-content: center;
}

#m_enemy_name {
	background: var(--field);
	color: var(--text);
	margin: 5px 0;
	justify-content: space-between;
	align-items: center;
	width: 250px;
	padding: 8px;
	border: 1px solid var(--field);
	border-radius: 8px;
}

#m_enemy_name:focus {
	outline: none;
}

.m_select_box {
  appearance: none;
	width: 100%;
  color: var(--clr-text);
  background-color: var(--field);
  border: none;
  font-size: 16px;
  border: 1px solid var(--border-dark);
  border-radius: 8px;
	/* width: 50px; */
	text-align: center;
}

#m_add_enemy {
  margin: 5px;
  background-color: var(--btn);
  color: var(--text-dark);
  border: none;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#m_add_enemy:hover {
	color: var(--text);
}

.m_body_section {
	width: 95%;
	margin: auto;
	padding-top: 5px;
  border-radius: 8px;
  background-color: var(--field);
}

#m_mob_list {
  margin: auto;
  padding: 0;
	list-style-type: none;
}

.m_mob_li {
  margin: 20px auto;
  padding-bottom: 5px;
  border-bottom: 1px dotted var(--btn);
}

.m_mob_li:last-of-type {
  border: none;
}

.m_delete_enemy {
	background: var(--btn);
	color: var(--text-dark);
	/* width: 100px; */
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	color: var(--text);
}

.m_row {
  display: flex;
	margin: auto;
	/* width: 95%; */
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.m_label {
  position: relative;
}

.m_text_label {
  position: absolute;
  text-align: center;
  top: -8px;
  left: 5px;
  padding: 0 2px;
  font-size: 12px;
  color: var(--text);
  background-color: var(--field);
}

.m_stat_box {
  padding: 5px;
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid var(--border-soft);
  border-radius: 5px;
  color: var(--text);
  background-color: var(--field);
  outline: none;
}

.m_name_box {
  padding: 5px;
  text-indent: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid var(--border-soft);
  border-radius: 5px;
  color: var(--text);
  background-color: var(--field);
  outline: none;
}

.m_note_box {
  margin-right: 5px;
  padding: 5px;
  width: 400px;
  font-size: 16px;
  border: 1px solid var(--border-soft);
  border-radius: 5px;
  color: var(--text);
  background-color: var(--field);
  outline: none;
}

.m_text_label:focus {
  outline: none;
}

.m_note_box {
  resize: none;
}
