@import url(colors.css);
@import url(notes.css);
@import url(tracker.css);
@import url(spawner.css);
@import url(dice.css);

* {
	font-family: 'Noto Sans', sans-sarif;
}

body {
	background: var(--page-bg);
}

.page-container {
	display: block;
	justify-content: center;
}

.column-container {
	display: flex;
	margin: 20px 0px;
	justify-content: center;
	gap: 20px;
}

.dm-notes {
	margin: 20px 0px;
	height: max-content;
}

.left-column {
	height: max-content;
}

.center-column {
	height: max-content;
}

.right-column {
	height: max-content;
}

h1 {
	color: #8aadf4;
}

h2 {
	color: #8aadf4;
	text-align: center;
}
