:root {
  --clr-page-bg: #1a1b26;
  --clr-bg-light: #c5cad9;
  /* --clr-bg-dark: #5f6168; */
  --clr-bg-dark: #616b91;
  --clr-text-box: #dee3f5;
  --clr-text: #c8d3f5;

  --clr-border: #545c7e;
  --clr-border-light: #787c99;
  
  --clr-btn-1: #82aaff;
  --clr-btn-2: #ff757f;

  /* --clr-bg-light: #c5cad9; */
  /* --clr-bg-light: #8b8e98; */
}

body {
  background-color: var(--clr-page-bg);
}

h1 {
  color: var(--clr-text);
}

.container {
  text-align: center;
  margin: 20px auto;
  width: 400px;
  background-color: #282a3d;
  padding: 10px;
  border: 1px solid black;
  /* box-shadow: -1px -1px black; */
  border-radius: 5px;
}

#playerInput {
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  background-color: var(--clr-text-box);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--clr-border);
}

#playerInput:focus {
  outline: none;
}

#addPlayer {
  background-color: var(--clr-btn-1);
  color: var(--clr-light);
  border: none;
  width: 100px;
  /* padding: 5px 10px; */
  padding: 8px;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  cursor: pointer;
}

#clearTurn {
  margin-top: 10px;
  background-color: var(--clr-btn-2);
  color: var(--clr-light);
  border: 1px solid var(--clr-border);
  width: 200px;
  /* padding: 5px 10px; */
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.players {
  margin-top: 10px;
  width: 400px;
  /* background-color: var(--clr-page-bg); */
  /* background-color: #393b4e; */
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  /* box-shadow: -1px -1px var(--clr-black); */
  justify-items: center;
}

ul {
  margin: 0px;
  list-style-type: none;
  width: 390px;
  padding: 0;
}

li {
  margin: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-bg-light);
  padding: 3px;
  border-radius: 5px;
  border: 1px solid var(--clr-border);
}

.doneTurn {
  appearance: none;
  width: 25px;
  height: 25px;
  color: green;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  background-color: var(--clr-darkgrey);
  margin-right: 5px;
  cursor: pointer;
}

.doneTurn:hover {
  border: 1px solid var(--clr-border-light);
}

.doneTurn:checked {
  background-color: var(--clr-btn-1);
  border: 1px solid var(--clr-border-light);
}

.doneTurn:checked ~ .roll {
  background-color: var(--clr-bg-dark);
  border: 1px solid var(--clr-border-light);
}

li:has(.doneTurn:checked) {
  background-color: var(--clr-bg-dark);
}

.roll {
  margin: 5px 0;
  display: flex;
  width: 20px;
  font-size:16px;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-bg-light);
  padding: 8px;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
}

.roll:focus {
  outline: none;
}

.playerName {
  margin: 5px 0;
  display: flex;
  width: 60%;
  align-items: center;
  color: var(--clr-black);
  background-color: var(--clr-grey);
  padding: 8px;
}

.delete {
  background-color: var(--clr-btn-2);
  color: var(--clr-text-light);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  border: 1px solid var(--clr-border);

}
