:root {
	--clr-bg: #222436;
	--clr-bg-alt: #2f334d;
	--clr-fg: #c8d3f5;
	--clr-label: #7aa2f7;
	--clr-border: #545c7e;
	--clr-shadow: #1e1e2e;
	--clr-hover: #e0af68;
}

body {
	background-color: var(--clr-bg);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

#header-bg {
	background: var(--clr-bg-alt);
	padding-top: 10px;
}

#header-frame {
	margin: auto;
	width: fit-content;
	display: grid;
	grid-auto-flow: column;
}

#date-time-temp {
	width: fit-content;
	color: var(--clr-fg);
	justify-items: center;
	display: grid;
	grid-template-columns: 250px 110px;
	grid-template-rows: 80px 30px;
	font-family: "Inter", sans-sarif;
}

/* .time-box { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: flex-end; */
/* } */

#time {
	margin: auto;
	padding-top: .5em;
	font-size: 3em;
}

.info-text {
	margin: 0;
	font-size: 1em;
	color: var(--clr-fg);
}

.quick-links {
	display: grid;
	grid-auto-flow: column;
	margin: 20px auto;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 3px;
	width: fit-content;
	background: var(--clr-bg-alt);
	/* border-radius: 5px; */
	/* box-shadow: 1px 1px 1px 1px var(--clr-shadow); */
	overflow: hidden;
	display: grid;
}

.quick-link-img {
	display: flex;
	margin: 10px;
	width: 60px;
	height: 60px;
	transition: filter 0.3s ease;
}

.quick-link-img:hover {
	filter: brightness(40%)
}

.columns {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.left-frame,
.right-frame {
	width: 310px;
}

.mid-frame {
	width: 310px;
	margin: 0 20px;
}

.link-window {
	margin-bottom: 20px;
	padding: 5px 5px;
	/* padding-top: 5px; */
	padding-bottom: 10px;
	background: var(--clr-bg-alt);
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px var(--clr-shadow);
}

.link-window-title {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
	color: var(--clr-label);
	font-size: 16px;
}

.link-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}

.link-window a {
	display: block;
	color: var(--clr-fg);
	text-decoration: none;
	margin-left: 15px;
	font-size: 18px;
}

.link-window a:first {
	display: block;
	color: var(--clr-fg);
	text-decoration: none;
	margin-top: 50px;
	margin-left: 15px;
}

.link-window a:hover {
	color: var(--clr-hover);
}

.link-icon {
	height: 15px;
	width: 15px;
}

.character-grid {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	margin-top: 10px;
	text-align: center;
	border-top: 1px dotted var(--clr-border);
}

.character-grid a {
	padding-top: 5px;
}
